GridPane {
	-fx-padding: 5px;
}
HBox {
	-fx-padding: 5px;
}

VBox {
	-fx-padding: 5px;
}

Button {
	-fx-padding: 6px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-label-padding: 4px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.section-title {
	-fx-alignment: top-left;
}

.bottom-align {
	-fx-alignment: bottom-right;
}