/**
 * Filename:   Styles.css
 * Project:    Group Project
 * Authors:    Soua Lor, Maria Helgeson, Daniel Walter, & Will Hickman
 *
 * Semester:   Fall 2018
 * Course:     CS400 - Lecutre 46373
 * 
 * Due Date:   12/16/18
 * Version:    1.0
 * 
 * Credits:    
 *       Styling tips from combination of various sources including
 *       - https://docs.oracle.com/javafx/2/layout/size_align.htm
 *       - http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
 *       - https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 *       - https://stackoverflow.com/questions/43508511/hover-and-pressed-in-javafx
 *       - https://stackoverflow.com/questions/39214586/how-to-align-a-button-right-in-javafx
 *       - https://stackoverflow.com/questions/25336796/tooltip-background-with-javafx-css
 *       - https://stackoverflow.com/questions/20205145/javafx-how-to-show-read-only-text
 * 
 * Bugs:       No known bugs
 */

GridPane {
	-fx-padding: 40px;
	-fx-background-color: rgb(240, 240, 240);
}
HBox {
	-fx-padding: 5px;
}

VBox {
	-fx-padding: 5px;
}

Label {
	-fx-padding: 3px, 3px, 3px, 0px;
    -fx-border-insets: 4px, 4px, 4px, 0px;
    -fx-background-insets: 4px, 4px, 4px, 0px;
    -fx-text-fill: black;
    -fx-label-padding: 4px, 4px, 4px, 0px;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(57, 59, 61);
    -fx-font-weight: bold;
}

Button {
	-fx-padding: 3px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-text-fill: black;
    -fx-label-padding: 4px;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(57, 59, 61);
    -fx-font-weight: bold;
    -fx-border-color: rgb(57, 59, 61);
    -fx-border-radius: 2;
    -fx-border-width:1px;
}

TextField {
	-fx-padding: 3px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-text-fill: black;
    -fx-label-padding: 4px;
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(57, 59, 61);
    -fx-font-weight: bold;
    -fx-border-color: rgb(57, 59, 61);
    -fx-border-radius: 2;
    -fx-border-width:1px;
}

ComboBox {
	-fx-padding: 3px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-text-fill: black;
    -fx-label-padding: 4px;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(57, 59, 61);
    -fx-font-weight: bold;
    -fx-border-color: rgb(57, 59, 61);
    -fx-border-radius: 2;
    -fx-border-width:1px;
}

ListView {
	-fx-background-color: transparent;
	-fx-border-color: rgb(57, 59, 61);
	-fx-border-radius: 2;
}

.readonly-textfield {
	-fx-background-color: transparent;
	-fx-opacity: 1;
}

.thin-hbox {
	-fx-padding: 0px;
}

.thin-vbox {
	-fx-padding: 0px;
	-fx-border-width:0px;
}

.thin-label {
	-fx-padding: 0px;
}

.number-field {
	-fx-padding: 3px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-text-fill: black;
    -fx-label-padding: 4px;
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(57, 59, 61);
    -fx-font-weight: bold;
    -fx-border-color: rgb(57, 59, 61);
    -fx-border-radius: 2;
    -fx-border-width:1px;
}

.selectable-list .list-cell:even {
	-fx-background-color: rgb(240, 240, 240);
	-fx-text-fill: rgb(57, 59, 61);
}
.selectable-list .list-cell:odd {
	-fx-background-color: rgb(230, 230, 230);
	-fx-text-fill: rgb(57, 59, 61);
}

.selectable-list:focused .list-cell:filled:selected {
    -fx-background-color: #6F9FD8; /* Little Boy Blue - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-weight: bold;
}

.selectable-list .list-cell:filled:selected {
	-fx-background-color: #9BBCE4; /* lighter version of Little Boy Blue - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-weight: bold;
}

.no-op-list .list-cell:even {
	-fx-background-color: rgb(240, 240, 240);
	-fx-text-fill: rgb(57, 59, 61);
}
.no-op-list .list-cell:odd {
	-fx-background-color: rgb(230, 230, 230);
	-fx-text-fill: rgb(57, 59, 61);
}

.no-op-list:focused .list-cell:filled:selected {
    -fx-background-color: #6F9FD8; /* Little Boy Blue - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-weight: bold;
}

.no-op-list .list-cell:filled:selected {
	-fx-background-color: #9BBCE4; /* lighter version of Little Boy Blue - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-weight: bold;
}

Button:hover {
    -fx-background-color: #3F69AA; /* Nebulas Blue - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
}

Button:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.tooltip {
    -fx-background: rgba(240,240,240);
    -fx-text-fill: rgb(57, 59, 61);
    -fx-background-color: rgba(240,240,240);
    -fx-background-radius: 3px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}

.add-button:hover {
	-fx-background-color: #006E51; /* Lush meadow - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
}

.remove-button:hover {
	-fx-background-color: #9B2335; /* 2007 Chili Pepper - https://www.w3schools.com/colors/colors_trends.asp */
    -fx-text-fill: rgb(240, 240, 240);
}