HBox {
	-fx-border-color: black;
	-fx-border-insets: 5;
	-fx-border-width: 3;
	-fx-border-style: solid;
}

Button {
	-fx-padding: 4px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-label-padding: 4px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}